<div >
      <%if user_signed_in?%>
        <div class="flex justify-between mb-5">
          <%=link_to ' ⚡ Write', new_blog_post_path, class:' bg-black text-white px-3 py-2 rounded font-bold', style: 'text-decoration: none;'%>
          <%= link_to 'Profile', edit_user_registration_path, class:'bg-black text-white px-3 py-2 rounded font-bold', style: 'text-decoration: none;'%>
          <%#=button_to 'Logout', destroy_user_session_path, method: :delete, class:'bg-black text-white px-3 py-2 rounded font-bold ' %>
        </div>
      <% else%>
        <div class="flex justify-between mb-5">
        <%= link_to 'Sign In', new_user_session_path, class:'bg-black text-white px-3 py-2 rounded font-bold', style: 'text-decoration:none;'%>
        <%= link_to 'Sign Up', new_user_registration_path, class:'bg-black text-white px-3 py-2 rounded font-bold', style:'text-decoration:none;'%>
        </div>
      <%end%>
</div>
<h3 class="text-center text-gray-300 underline decoration-dotted">Enjoy Your Personalized Feed Here</h3>

<% @blog_posts.each do |blog_post|%>
    <div class="m-0">
        <h1><%= link_to blog_post.title, blog_post, style: 'text-decoration: none;'%></h1> 
        <div class="flex flex-row  justify-center gap-2 text-gray-500">
          <p class="text-black text-bold"><%=blog_post.user.email%></p>
          <p><span class="mr-2">·</span><%=blog_post.created_at.strftime("%Y-%m-%d")%></p>
          <p><span class="mr-2">·</span>📖 2 min read</p>
        </div>
        <%=truncate(blog_post.body, length: 200 )%>
        
    </div>
<%end%>
