<!DOCTYPE html>
<html>
  <head>
    <title>BlogIt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# javascript_include_tag 'rails-ujs', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose mx-auto">
    <div class="text-center">
      <p class="notice text-green-400"><%= notice %></p>
      <p class="alert text-red-700"><%= alert %></p>
    </div>
    <div class="mb-5 text-center bg-black py-3 rounded-md relative" >
      <h4 class="font-mono text-xl text-white">When Your Ideas Flourish: <span class="bg-white text-black p-2 rounded-xl text-3xl font-bold">BlogIt</span></h4>
    </div>
    <%= yield %>
  </body>
</html>


